<header>
  <div class="nav-outer-container border-bottom-blue">
    <div class="nav-inner-container">
      <div><a class="nav-link text-dark" [routerLink]="['/']"><img src="/assets/home.png" style="width:40px;height:40px;" /></a></div>
      <div><a class="nav-link text-dark" [routerLink]="['/fima']"><img src="/assets/todo.png" style="width:40px;height:40px;" /></a></div>
      <div><a class="nav-link text-dark" [routerLink]="['/appointments']"><img src="/assets/calender.png" style="width:40px;height:40px;" /></a></div>
      <div><a class="nav-link text-dark" [routerLink]="['/logs']"><img src="/assets/log.png" style="width:40px;height:40px;" /></a></div>
      <div><a class="nav-link text-dark" [routerLink]="['/crypto']"><img src="/assets/crypto.png" style="width:40px;height:40px;" /></a></div>
    </div>
    <div class="nav-container justify-content-end">
      <div style="margin-left: 20px;"><a class="navbar-brand" [routerLink]="['/']">local.gwiasda.net</a></div>
    </div>
  </div>
</header>
