<h1>Finanzkategorien</h1>



<app-fima-form></app-fima-form>

<hr />

<div class="container">
  <div class="flexItem">
    <table>
      <ng-container *ngFor="let cat of costCategories">
        <tr>
          <td class="categoryName" [attr.title]="cat.description">{{ cat.name }}</td>
        </tr>
      </ng-container>
    </table>
  </div>
    <div class="flexItem">
      <table>
        <ng-container *ngFor="let cat of incomeCategories">
          <tr>
            <td class="categoryName" [attr.title]="cat.description">{{ cat.name }}</td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
