<h1>Finanzkategorien</h1>


<app-fima-category-form [category]="editedCategory" (saved)="handleSaved()" (cancelled)="handleCancelled()" (deleted)="handleDeleted()"
                        [costCategories]="costCategories" [incomeCategories]="incomeCategories"></app-fima-category-form>

<hr />

<div class="container">
  <div class="flexItem">
    <h3>Kostenkategorien</h3>
    <table>
      <ng-container *ngFor="let cat of costCategories">
        <tr>
          <td class="categoryName" [attr.title]="cat.description"><a (click)="editCostCategory(cat)">{{ getNameWithSpaces(cat) }}</a></td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div class="flexItem">
    <h3>Einkommenskategorien</h3>
    <table>
      <ng-container *ngFor="let cat of incomeCategories">
        <tr>
          <td class="categoryName" [attr.title]="cat.description"><a (click)="editIncomeCategory(cat)">{{ getNameWithSpaces(cat) }}</a></td>
        </tr>
      </ng-container>
    </table>
  </div>
  </div>
