<div class="container">
  <div class="flexItem"><h1>Termine</h1></div>
  <div class="flexItem"><span class="material-symbols-form-button material-symbols-rounded" (click)="add()">add</span></div>
</div>
<div>
  <input type="checkbox" [(ngModel)]="showRecurring" (change)="renderAppointments()" id="showRecurring" />
  <label for="showRecurring">&nbsp;Wiederholende</label>
</div>
<hr />
<app-appointments-timespan-selection [from]="showFrom" [to]="showTo" (selected)="refresh($event)"></app-appointments-timespan-selection>
<hr />
<table>
  <ng-container *ngFor="let a of renderedAppointments">
    <tr>
      <td class="appointmentsTimeStamp">{{ getDay(a.date) }} {{ renderDate(a.date) }}</td>
      <td class="appointmentsTitle">
        <a class="link" (click)="edit(a.id)">{{ a.title }}</a>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="appointmentsText">
        {{ a.who == '-' ? '' : a.who }}

        {{ a.endDate && a.endDate != a.date ? ('bis ' + renderDate(a.endDate)) : '' }}
      </td>
    </tr>
  </ng-container>
</table>
