
<table>
  <tbody>
    <tr>
      <td class="formName">ID:</td>
      <td class="formField"><label>{{category.id}}</label></td>
    </tr>
    <tr>
      <td class="formName">Name:</td>
      <td class="formField"><input class="formInput" type="text" [(ngModel)]="category.name" /></td>
    </tr>
    <tr>
      <td class="formName">Bechreibung:</td>
      <td class="formField"><input class="formInput" type="text" [(ngModel)]="category.description" /></td>
    </tr>
    <tr>
      <td class="formName">Elternkategorie:</td>
      <td class="formField"><a (click)="selectParent();">{{selectedParentName}}</a></td>
    </tr>
    <tr>
      <td class="formName">Kostenkategorie:</td>
      <td class="formField">
        <input type="checkbox" [(ngModel)]="category.isCostCategory">
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="tableButton"><span class="material-symbols-form-button material-symbols-rounded" (click)="save()">save</span></td>
    </tr>
  </tbody>
</table>
