<div class="container">
  <div class="flexItem">
    <h4>Buchung erfassen</h4>
    <table>
      <tbody>
        <tr>
          <td class="formName">ID:</td>
          <td class="formField"><label>{{booking?.id}}</label></td>
        </tr>
        <tr>
          <td class="formName">Datum:</td>
          <td>
            <input id="bookingdate" matInput [matDatepicker]="picker" [(ngModel)]="hackDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </td>
        </tr>
        <tr>
          <td class="formName">Text:</td>
          <td class="formField"><input class="formInput" type="text" [(ngModel)]="booking.text" /></td>
        </tr>
        <tr>
          <td class="formName">Betrag:</td>
          <td class="formField"><input class="formInput" type="text" [(ngModel)]="formattedAmount" (ngModelChange)="updateModel($event)" /></td>
        </tr>
        <tr>
          <td class="formName">Sind es Kosten ?</td>
          <td class="formField">
            <input type="checkbox" [(ngModel)]="booking.isCost">
          </td>
        </tr>
        <tr>
          <td class="formName">Kategorie:</td>
          <td class="formField a"><a (click)="selectCategory();">{{selectedCategoryName}}</a></td>
        </tr>
        <tr>
          <td class="tableButton" colspan="2">
            <span class="material-symbols-form-button material-symbols-rounded" (click)="cancel()">check_box_outline_blank</span>
            &nbsp;
            <span class="material-symbols-form-button material-symbols-rounded" (click)="save()">save</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flexItem" style="border-right: 1px solid;">&nbsp;</div>
  <div class="flexItem">
    <app-fima-booking-overview [injectedDate]="date"></app-fima-booking-overview>
  </div>
</div>
